* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
	font-family: "Lato", sans-serif;
	font-size: 16px;
	line-height: 26px;
	-webkit-font-smoothing: antialiased;
	color: $hero-text;
}

cite {
  color: $cite;
  font-style: normal;
  font-weight: bold;
}

h4 {
  font-size: 1.6em;
  text-align: center;
  margin-bottom: 2.5em;
}

svg {
  max-height: 100%;
}