/*Infographic*/

.titulo {
    -webkit-animation-delay: 0.5s; /* Safari and Chrome */
    animation-delay: 0.5s;
    -webkit-transform-origin: 50% 50%;
    transform-origin: center center; 
}

.anim01 {
    -webkit-animation-delay: 1.5s; /* Safari and Chrome */
    animation-delay: 1.5s;
    -webkit-transform-origin: left left;
    transform-origin: left left; 
}

.anim02 {
    -webkit-animation-delay: 2s; /* Safari and Chrome */
    animation-delay: 2s;
    -webkit-transform-origin: left left;
    transform-origin: left left; 
}

.anim03 {
    -webkit-animation-delay: 2.5s; /* Safari and Chrome */
    animation-delay: 2.5s;
    -webkit-transform-origin: left left;
    transform-origin: left left; 
}

.anim04 {
    -webkit-animation-delay: 3s; /* Safari and Chrome */
    animation-delay: 3s;
    -webkit-transform-origin: 50% 50%;
    transform-origin: center center; 
}

.anim05 {
    -webkit-animation-delay: 3.5s; /* Safari and Chrome */
    animation-delay: 3.5s;
    -webkit-transform-origin: 50% 50%;
    transform-origin: center center; 
}

.anim06 {
    -webkit-animation-delay: 4s; /* Safari and Chrome */
    animation-delay: 4s;
    -webkit-transform-origin: 50% 50%;
    transform-origin: center center; 
}

.anim07 {
    -webkit-animation-delay: 4.5s; /* Safari and Chrome */
    animation-delay: 4.5s;
    -webkit-transform-origin: 50% 50%;
    transform-origin: center center; 
}

.anim08 {
    -webkit-animation-delay: 5s; /* Safari and Chrome */
    animation-delay: 5s;
    -webkit-transform-origin: 50% 50%;
    transform-origin: center center; 

}