#reveal {
  width: 100%;
  max-width: 870px;
  margin: 0 auto;
  padding: 2em;
  color: $copy;
  font-size: 1.125em;
  line-height: 1.5em;

  h4 {
    color: $heading;
    margin-bottom: 1em;
  }

  .kites {
    overflow: hidden;

    article {
      width: 49.9%;
      padding: 2em 3em;
      float: left;
      text-align: center;

      h5 {
        font-size: 1.125em;
      }

      a {
        color: $main;
        border: 2px solid $main;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        font-size: .75em;
        letter-spacing: 1px;
        font-weight: bold;
        padding: .5em 1.5em;
        transition: background ease-in-out .15s, color ease-in-out .15s;
        -moz-transition: background ease-in-out .15s, color ease-in-out .15s;
        -webkit-transition: background ease-in-out .15s, color ease-in-out .15s;

        &:hover {
          color: #fff;
          background: $main;
        }
      }
    }
  }
}

/*drawing*/

.barrilete2 {
    stroke-dasharray: 10;
    stroke-dashoffset: 100;

    -moz-stroke-dasharray: 10;
    -moz-stroke-dashoffset: 100;

    -webkit-stroke-dasharray: 10;
    -webkit-stroke-dashoffset: 100;

    animation: dash 5s alternate infinite;
    -moz-animation: dash 5s alternate infinite;
    -webkit-animation: dash 5s alternate infinite;
}

@-webkit-keyframes dash{
    to {-webkit-stroke-dashoffset: 0;stroke-dashoffset: 0;}
}
@-moz-keyframes dash{
    to {-moz-stroke-dashoffset: 0;}
}
@keyframes dash{
    to {stroke-dashoffset: 0;}
}

.barrilete3 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;

    -moz-stroke-dasharray: 1000;
    -moz-stroke-dashoffset: 1000;

    -webkit-stroke-dasharray: 1000;
    -webkit-stroke-dashoffset: 1000;

    animation: lineAnim 5s alternate infinite;
    -moz-animation: lineAnim 5s alternate infinite;
    -webkit-animation: lineAnim 5s alternate infinite;

    fill: #fff;
    -moz-fill: #fff;
    -webkit-fill: #fff;
}

@-webkit-keyframes lineAnim{
  to {
      -webkit-stroke-dashoffset: 0;
      stroke-dashoffset: 0;
  }
}
@-moz-keyframes lineAnim{
  to {
      -moz-stroke-dashoffset: 0;
  }
}
@keyframes lineAnim{
  to {
      stroke-dashoffset: 0;
  }
}



.barrilete4 {
    fill: #fff;
    -moz-fill: #fff;
    -webkit-fill: #fff;

    animation: fillAnim 5s alternate infinite;
    -moz-animation: fillAnim 5s alternate infinite;
    -webkit-animation: fillAnim 5s alternate infinite;
}

@-webkit-keyframes fillAnim{

    0%   {fill: #fff; -webkit-fill: #fff;}
    25%  {fill: #F47B20; -webkit-fill: #F47B20;}
    50%  {fill: #09c; -webkit-fill: #09c;}
    100% {
        -webkit-stroke-dashoffset: 0;
        stroke-dashoffset: 0;
        fill: #F47B20; -webkit-fill: #F47B20;
    }
}
@-moz-keyframes fillAnim{

    0%   {-moz-fill: #fff;}
    25%  {-moz-fill: #F47B20;}
    50%  {-moz-fill: #09c;}
    100% {
        -moz-stroke-dashoffset: 0;
        -moz-fill: #F47B20;
    }
}
@keyframes fillAnim{

    0%   {fill: #fff;}
    25%  {fill: #F47B20;}
    50%  {fill: #09c;}
    100% {
        fill: #F47B20;
    }
}